<div class='game-container'>
	<h1>Challenges - <%= game.category.name%></h1>
	<table class='table center'>
		<tr>
			<td>
				<div class='name'>Challenge No:</div>
				<div><%= (game.order || 0 + 1)%></div>
			</td>
			<td>
				<div class='name'>Name:</div>
				<div><%= game.name %></div>
			</td>
			<td>
				<div class='name'>Points:</div>
				<div><%= game.points %></div>
			</td>
			<td>
				<div class='name'>Made by:</div>
				<div><%= game.author.name %></div>
			</td>
		</tr>
	</table>
	<img src="http://mathworld.wolfram.com/images/eps-gif/SquareDiagonals_700.gif" />
	<div class='actions center'>
		<button class='btn btn-warning'>Restart</button>
		<button class='btn btn-danger'>Quit</button>
		<button class='btn btn-success'>Submit solution</button>
	</div>
</div>