<div class='game-container' ng-init='games.initGame("<%= game.id%>")'>
	<h1>Challenges - <%= game.category.name%></h1>
	<table class='table center'>
		<tr>
			<td>
				<div class='name'>Challenge No:</div>
				<div><%= (game.order || 0 + 1)%></div>
			</td>
			<td>
				<div class='name'>Name:</div>
				<div><%= game.name %></div>
			</td>
			<td>
				<div class='name'>Points:</div>
				<div><%= game.points %></div>
			</td>
			<td>
				<div class='name'>Made by:</div>
				<div><%= game.author.name %></div>
			</td>
		</tr>
	</table>
	<div class='game-body'>
		<% if(game.viewPage){%>
			<%- include(game.viewPage) %>
		<% }%>
	</div>	
	<div class='actions center'>
		<button class='btn btn-warning' ng-click='games.reload()'>Restart</button>
		<a href="/" class='btn btn-danger'>Quit</a>
		<button class='btn btn-success' ng-click='games.checkSolution()'>Submit solution</button>
	</div>
	<div class='customModal overlay ng-hide' ng-show='games.modalSuccess'>
		<div class='panel panel-info'>
			<div class="panel-heading">
	              <h3 class="panel-title">Congratulations!</h3>
	        </div>
			<div class='panel-body'>
				Your solution is right!
			</div>
			<div class='panel-footer'>
				<button class='btn btn-success' ng-click='games.nextGame()'>
					Next game
				</button>	
				<button class='btn btn-warning' ng-click='games.modalSuccess = false'>
					Close
				</button>			
			</div>
		</div>
	</div>
	<div class='customModal overlay ng-hide' ng-show='games.modalFail'>
		<div class='panel panel-warning'>
			<div class="panel-heading">
	              <h3 class="panel-title">Oups!</h3>
	        </div>
			<div class='panel-body'>
				Your solution is wrong, try again.
			</div>
			<div class='panel-footer'>
				<button class='btn btn-primary' ng-click='games.reload()'>
					Try again
				</button>	
				<button class='btn btn-warning' ng-click='games.modalFail = false'>
					Close
				</button>				
			</div>
		</div>
	</div>
</div>