<div>
	<h1>Challenge points</h1>
	<div class='center'>
		<h2>You have <%= data.earned %> points from a total of <%= data.total %></h2>
	</div>
	<% for(var i = 0; i < categories.length ; i++) {%>
	<div class='point-container'>		
		<h3><%= categories[i].name %> (<%= categories[i].complete %>/<%= categories[i].games.length %>)</h3>
		<table class='table'>
			<% for(var k = 0; k < categories[i].games.length ; k++) {%>
			<tr>
				<td>
					<div class='ch-tag 
					<% if(categories[i].games[k].isComplete){ %>
	                	<%= 'complete' %>
	                <% } %>
					'><%= (k + 1) %></div>
				</td>
				<td>
					<a href="/game/<%= categories[i].games[k].id %>"><%= categories[i].games[k].name %></a>
				</td>
				<td>
					<%= categories[i].games[k].points %> points
				</td>
				<td>
					<%= categories[i].games[k].difficulty %>
				</td>
			</tr>
			<%}%>
		</table>		
	</div>
	<%}%>
</div>