<div>
	<h2>
		Profile of <%= user.name %>
	</h2>
	<div class='row' style='text-align:center;'>
		<div class='col-md-6'>
			<img src="<%- user.profilePicLarge%>" class='profile-pic' />
		</div>
		<div class='col-md-6'>
			<% if(user.team == 'astu'){%>
				<img src="/images/astu_logo_ph.png" class='profile-pic' />
			<% } %>
			<% if(user.team == 'blackdragon'){%>
				<img src="/images/bdp-image_ph.png" class='profile-pic' />
			<% } %>
			<% if(user.team == 'sorcesec'){%>
				<img src="/images/mjd_tree_ph.png" class='profile-pic' />
			<% } %>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-12'>
			<fieldset class='margin-top'>
		        <legend>
		        	<% if(user.team == 'astu'){%>
						Officer
					<% } %>
					<% if(user.team == 'blackdragon'){%>
						Initate
					<% } %>
					<% if(user.team == 'sorcesec'){%>
						Hacker
					<% } %>
					 Information
		        </legend>
		        <div class="form-group row">
		            <label class="col-md-3 control-label ch-label">Date Joined</label>
		            <div class="col-md-9">
		                <%- user.createdAt.toLocaleDateString() %>
		            </div>
		        </div>
		        <div class="form-group row">
		            <label class="col-md-3 control-label ch-label">Last Visit</label>
		            <div class="col-md-9">
		            	<% if(user.lastVisit){%>
		                	<%- user.lastVisit.toLocaleDateString() %>
		                <% } else { %>
							---
						<% } %>
		            </div>
		        </div>
		        <div class="form-group row">
		            <label class="col-md-3 control-label ch-label">Status</label>
		            <div class="col-md-9">
		                <% if(user.isAdmin){%>
							Admin
						<% } else { %>
							Member
						<% } %>
		            </div>
		        </div>

		        <div class="form-group row">
		            <label class="col-md-3 control-label ch-label">Location</label>
		            <div class="col-md-9">
		                <%= user.location || ''%>
		            </div>
		        </div>

		        <div class="form-group row">
		            <label class="col-md-3 control-label ch-label">Signature</label>
		            <div class="col-md-9">
		                <%= user.signature  || ''%>
		            </div>
		        </div>

		    </fieldset>
	    </div>
	</div>
	<div class='row'>
		<div class='col-md-12'>
			<fieldset class='margin-top'>
		        <legend>
		        	Challenges
		        </legend>
		    </fieldset>
		    <% for(var i = 0; i < categories.length ; i++) {%>
		    <div class="form-group row">
		    	<a href="/challenges/<%= categories[i].friendlyId %>">
	            	<label class="col-md-3 control-label ch-label"><%= categories[i].name %></label>
	            </a>
	            <div class="col-md-9">
	            	<% for(var k = 0; k < categories[i].games.length ; k++) {%>
	            	<a href="/game/<%= categories[i].games[k].id %>">
	                	<div class='ch-tag
	                	<% if(categories[i].games[k].isComplete){ %>
	                		<%= 'complete' %>
	                	<% } %>
	                	'><%= (k + 1) %></div>
	                </a>
	                <% } %>
	            </div>
	        </div>
	        <% } %>	        
	    </div>
	</div>
</div>