<div>
	<h1>Rankings</h1>
	<table class='table'>
		<thead>
			<tr>
				<th>Rank</th>
				<th>User</th>
				<th>Team</th>
				<th>Points</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i = 0; i < users.length ; i++) {%>
			<tr>
				<td><%= i + 1 %></td>
				<td><a href="/profile/<%= users[i].id %>"><img class='pic-small' 
					src="<%= users[i].profilePicSmall %>" /> 
					<%= users[i].name %>
					</a>
				</td>
				<td>
				<% if(users[i].team == 'astu'){%>
					ASTU
				<% } %>
				<% if(users[i].team == 'blackdragon'){%>
					Black Dragon
				<% } %>
				<% if(users[i].team == 'sorcesec'){%>
					SourceSek
				<% } %>
				</td>
				<td><%= users[i].points %></td>
			</tr>
			<%}%>
		</tbody>
	</table>
</div>